<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level0</key>
	<string>{&quot;id&quot;:&quot;11&quot;,&quot;title&quot;:&quot;20120611&quot;,&quot;lines&quot;:&quot;10&quot;,&quot;answer&quot;:&quot;知　　形　　刘志军　人生得意须尽欢　功　善　　拳　　　李章洙任我行　负　居　　泗　没　谁能百里挑一　列那狐　量　　　诺曼　种　宣　　张大千　　命比纸薄　冠　金乌倒　利　瓜田李下　克叙利亚　瓜　戴　波兰&quot;,&quot;letter&quot;:&quot;Z,,,X,,,L,Z,J,,R,S,D,Y,X,J,H,,G,,S,,,Q,,,,L,Z,Z,R,W,XH,,F,,J,,,S,,M,,S,N,B,L,T,Y,,L,N,H,,L,,,,N,M,,Z,,X,,,Z,D,Q,,,M,B,Z,B,,G,,J,W,D,,L,,G,T,L,X,,K,X,L,Y,,G,,D,,B,L&quot;,&quot;promptX&quot;:&quot;因腐败而被法办的铁道部领导|莫使金樽空对月的上句|绰号铁帅的韩国籍足球教练|《笑傲江湖》一人物|东方卫视一大型服务类节目|一部中世纪法国民间童话主角|1066到1135年统治英格兰的王朝|近代最具传奇色彩的国画大师|心比天高的下句|古语称太阳|比喻容易引起嫌疑的场合|2012年因为大屠杀受国际谴责的国家|2012年举办欧洲杯的国家之一&quot;,&quot;promptY&quot;:&quot;常用于称赞领导的能力|先写结果，再写过程的写作方法|陈小春经典歌曲中的一句|绰号葫芦娃的巴塞罗那西班牙国脚|李连杰《救世主》演绎的两套拳之一|传统文房四宝知名品牌|物理术语，也指对人不利的黑暗面特性|高官父母受到指控而鸭梨山大的官二代|著名实力派大陆歌手|著名女科学家，也是放射性强度单位|比喻认错了对象，弄错了事实|《十五的月亮》老公老婆各一半的东西|比喻说话算数，极有信用|传说孔子讲学的一家书院的名字|2012年举办欧洲杯的国家之一&quot;,&quot;source&quot;:&quot;20120626&quot;}</string>
</dict>
</plist>
